<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto mt-4">
            <div class="card text-center">
                <div class="card-header bg-dark text-white">
                    <h5>Welcome {{user.fullname}}</h5>
                </div>
                <img src="/img/user.png" class="card-img-top mx-auto m-2 rounded-circle w-50" alt="Logo">
                <div class="card-body">
                    <h5 class="text-uppercase">{{user.username}}</h5>
                    <a href="/links" class="btn btn-primary"> Save your Links</a>
                </div>
            </div>
        </div>
    </div>
</div>