<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto mt-4">
            <div class="card">
                <div class="card-header bg-dark text-white text-center">
                    <h5>SingUp</h5>
                </div>
                <img src="/img/logo.png" class="card-img-top mx-auto m-2 rounded-circle w-50" alt="Logo">
                <div class="card-body">
                    <form action="/signup" method="POST">
                        <div class="form-group">
                            <input type="text" name="fullname" class="form-control" placeholder="Full Name" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">
                                SignUp
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>